In [1]:
import pandas as pd

In [2]:
inputfilename = 'Owned Club Community Benefits Review 09102020'

df = pd.read_excel("datasets\\" + inputfilename + ".xlsx", dtype=str, sheet_name=2, skiprows=0, na_filter=False)
df = df.drop_duplicates()

In [3]:
df.columns

Index(['Community', 'Market', 'Club Type', 'Club', 'Benefit Tier',
       'Members coming from', 'Cart Fee Rate', 'Suggested Tier Rate 2019',
       'Golf Benefit', 'Availability', 'Advance', 'Golf Amenity Restrictions',
       'Dining Benefit', 'Dining Availability', 'Dining Restrictions',
       'Tennis Benefit', 'Tennis Availability', 'Tennis Advance',
       'Athletic Benefit', 'Athletic Availability', 'Athletic Advance',
       'Pool Benefit', 'Pool Availability', 'Pool Advance', 'Notes'],
      dtype='object')

<b> Replace 
    1. BRAELIN by BRAELINN GOLF CLUB
    2. Planterra Ridge by Planterra Ridge Golf Club
    3. Whitewater Creek by Whitewater Creek Country Club
</b>
This replacement is not required as our full_club list file contains both the string with same entity code

In [4]:
df.Club = df.Club.str.replace('Braelin','Braelinn Golf Club')
df.Club = df.Club.str.replace('Planterra Ridge','Planterra Ridge Golf Club')
df.Club = df.Club.str.replace('Whitewater Creek','Whitewater Creek Country Club')
#df.Club.unique()

<b> Fix Clubs of Peachtree from Phil's Mail </b>
From 15th May, 2019 file, Clubs of Peachtree does not exists in the Own Club file
So, the following portion of code not required, hence commented

In [5]:
#peachtree_clubs = ['Braelinn Golf Club','Flat Creek Country Club','Planterra Ridge Golf Club','Whitewater Creek Country Club']

#for peachtree_club in peachtree_clubs:
#    df_peachtree_club_copy = df[df['Club'] == 'Clubs of Peachtree'].copy()
#    df_peachtree_club_copy['Club'] = peachtree_club
#    df = df.append(df_peachtree_club_copy)
    
#df = df[~(df['Club'] == 'Clubs of Peachtree')]

<b>Split dining benefits</b>

In [6]:
df['Dining Benefit'].unique()

array(['No access', 'Pay to dine',
       'Multiple\n* 50% off evening dining\n* Lunch access\n',
       'Two 2-4-1 per club\nAdditional pay to dine access available',
       'Multiple\n* 50% off evening dining\n* Lunch access\n* Two 2-4-1 per club dining ',
       'One 2-4-1 per club\nAdditional pay to dine access available',
       'Multiple\n* 50% off two member meals per \n* Lunch access',
       'One 2-4-1 total\nAdditional pay to dine acces available',
       'Multiple offers\n*  One 2-4-1 per club\n*  50% off evening dining, unlimited',
       'Multiple\n* 50% off evening dining\n* Lunch access\n* One 2-4-1 per club dining\n',
       'Dining access',
       'One 2-4-1 total Monday - Friday only\nAdditional pay to dine acces available',
       'N/A',
       '2 comp meals per club\nAdditional pay to dine access available',
       'One 2-4-1 per dining OR Golf\nAdditional pay to dine access available',
       'Unlimited 2-4-1', 'No Community at this time', 'NA',
       'Unlimited 50% off evening dining'], dtype=object)

In [7]:
dining_benefit_d = [{"benefit":'Multiple\n* 50% off evening dining\n* Lunch access\n* Two 2-4-1 per club dining ',\
                                "values":['50% off evening dining','Lunch access','Two 2-4-1 per club dining']},
                    {"benefit":'Multiple\n* 50% off evening dining\n* Lunch access\n',
                                "values":['50% off evening dining','Lunch access']},  
                    {"benefit":'Two 2-4-1 per club\nAdditional pay to dine access available',
                                "values":['Two 2-4-1 per club dining','Additional pay to dine access available']},  
                    {"benefit":'One 2-4-1 per club\nAdditional pay to dine access available',
                                "values":['One 2-4-1 per club dining','Additional pay to dine access available']},  
                    {"benefit":'Multiple\n* 50% off two member meals per \n* Lunch access',
                                "values":['50% off two member meals per club','Lunch access']},  
                    {"benefit":'One 2-4-1 total\nAdditional pay to dine acces available',
                                "values":['One 2-4-1 total','Additional pay to dine access available']},  
                    {"benefit":'Multiple offers\n*  One 2-4-1 total\n*  50% off evening dining, unlimited',
                                "values":['One 2-4-1 total','50% off evening dining']},  
                    {"benefit":'Multiple\n* 50% off evening dining\n* Lunch access\n* One 2-4-1 per club dining\n',
                                "values":['50% off evening dining','Lunch access','One 2-4-1 per club dining']},   
                    {"benefit":'One 2-4-1 total Monday - Friday only\nAdditional pay to dine acces available',
                                "values":['One 2-4-1 total Monday - Friday only','Additional pay to dine access available']},   
                    {"benefit":'2 comp meals per club\nAdditional pay to dine access available',
                                "values":['2 comp meals per club','Additional pay to dine access available']},  
                    {"benefit":'One 2-4-1 per dining OR Golf\nAdditional pay to dine access available',
                                "values":['One 2-4-1 per dining OR Golf','Additional pay to dine access available']},
                    {"benefit" : 'Multiple\n* 50% off evening dining, \n* Lunch access\n* Two 2-4-1 per club',
                                "values" :['50% off evening dining', 'Lunch access','Two 2-4-1 per club dining']},
                    {"benefit" : 'Multiple\n* 50% off evening dining\n* Lunch access\n* Two 2-4-1 per club',
                                "values" : ['50% off evening dining','Lunch access','Two 2-4-1 per club dining']},
                    {"benefit" : 'Multiple\n* 50% off evening dining\n* Lunch access\n* Two 2-4-1 per club dining\n',
                                "values":['50% off evening dining','Lunch access','Two 2-4-1 per club dining']},
                    {"benefit" : 'Multiple offers\n*  One 2-4-1 per club\n*  50% off evening dining, unlimited',
                                "values" :['One 2-4-1 per club dining', '50% off evening dining']},
                    {"benefit" : ' Multiple: \n* 50% off evening dining\n* Lunch access',
                                "values" : ['50% off evening dining','Lunch access']},
                    {"benefit" : 'Multiple\n* 50% off evening dining, \n* Lunch access\n* Two 2-4-1 per club ',
                                "values" : ['50% off evening dining','Lunch access','Two 2-4-1 per club dining']},
                    {"benefit" : 'Multiple\n* 50% off evening dining\n* Lunch access\n* Two 2-4-1 per club\n',
                                "values" : ['50% off evening dining','Lunch access','Two 2-4-1 per club dining']},
                    {"benefit" : 'Multiple\n* 50% off evening dining\n* Lunch access\n* Two 2-4-1 per club ',
                                "values" : ['50% off evening dining','Lunch access','Two 2-4-1 per club dining']},
                    {"benefit" : 'Multiple\n* 50% off evening dining, \n* Lunch access\n',
                                "values" : ['50% off evening dining','Lunch access']},
                    {"benefit" : 'Multiple\n* 50% off evening dining\n* Lunch access\n\n',
                                "values" : ['50% off evening dining','Lunch access']}
                   ]

In [8]:
df['Dining Availability'].unique()

array(['No access', 'Space available',
       '50% off: Unlimited After 3pm\nLunch access: Space available',
       '50% off: Unlimited After 3pm\nLunch access: Space available\nTwo 2-4-1 per club dining: Space available',
       'Sun Noon - Fri Noon',
       'Weekday:  Space available\nWeekend:  After 10:00am', 'N/A',
       'No Community at this time', '', 'NA'], dtype=object)

In [9]:
dining_availability_multiple = [{"availability" : '50% off: Unlimited After 3pm\nLunch access: Space available\nTwo 2-4-1 per club dining: Space available',
                                "values" : {"50% off evening dining" : 'Unlimited After 3pm',
                                            "Lunch access" : 'Space available',
                                            "Two 2-4-1 per club dining" : 'Space available'}},
                                {"availability" : '50% off: Unlimited After 3pm\nLunch access: Space available',
                                "values" : {"50% off evening dining" : 'Unlimited After 3pm',
                                            "Lunch access" : 'Space available'}}
                               ]

In [10]:
# len(df.index)

In [11]:
for dining_benefit_item in dining_benefit_d:
    dining_benefit_values = list(dining_benefit_item['values'])
    count = 0;
    for dining_benefit_value in dining_benefit_values:          
        benefit_rows = df[df['Dining Benefit'] == dining_benefit_item['benefit']].copy()
        benefit_rows['Dining Benefit'] = dining_benefit_value
        if dining_benefit_value == 'One 2-4-1 total Monday - Friday only' :
            benefit_rows['Dining Availability'] = "Monday - Friday"
            benefit_rows['Dining Benefit'] = "One 2-4-1 total"
        if count > 0:
            benefit_rows['Golf Benefit'] = "N/A"
            benefit_rows['Availability'] = "N/A"
            benefit_rows['Advance'] = "N/A"
            benefit_rows['Cart Fee Rate'] = "N/A"
            benefit_rows['Suggested Tier Rate 2019'] = "N/A"
        count = count + 1
        df = df.append(benefit_rows)
        #print(dining_benefit_value)

    # Remove original block
    df = df[~(df['Dining Benefit'] == dining_benefit_item['benefit'])]

In [12]:
df['Dining Benefit'].unique()

array(['No access', 'Pay to dine', 'Dining access', 'N/A',
       'Unlimited 2-4-1', 'No Community at this time', 'NA',
       'Unlimited 50% off evening dining', '50% off evening dining',
       'Lunch access', 'Two 2-4-1 per club dining',
       'Additional pay to dine access available',
       'One 2-4-1 per club dining', '50% off two member meals per club',
       'One 2-4-1 total', '2 comp meals per club',
       'One 2-4-1 per dining OR Golf'], dtype=object)

In [13]:
dining = df[df['Dining Benefit'].isin(['50% off evening dining','Lunch access','Two 2-4-1 per club dining'])][['Dining Benefit', 'Dining Availability']]
dining.to_csv('Dining_beforeAvailabilityChange.csv',index=False)

<b> Spilt Dining Availability </b>

In [14]:
for diningAvailability in dining_availability_multiple:
    benefit_rows = df[df['Dining Availability'] == diningAvailability['availability']].copy()
    availabilityValues = diningAvailability['values']                        
    benefit_rows['Dining Availability'] = benefit_rows['Dining Benefit'].map(availabilityValues)
#     print(benefit_rows[['Dining Benefit','Dining Availability']])
    df = df.append(benefit_rows)
    df = df[~(df['Dining Availability'] == diningAvailability['availability'])]

In [15]:
dining = df[df['Dining Benefit'].isin(['50% off evening dining','Lunch access','Two 2-4-1 per club dining'])][['Dining Benefit', 'Dining Availability']]
dining.to_csv('Dining_AfterAvailabilityChange.csv',index=False)

In [16]:
df['Dining Availability'].unique()

array(['No access', 'Space available', 'Sun Noon - Fri Noon',
       'Weekday:  Space available\nWeekend:  After 10:00am', 'N/A',
       'No Community at this time', '', 'NA', 'Monday - Friday',
       'Unlimited After 3pm'], dtype=object)

<b> Replace Space Availability </b>

In [17]:
#df.Availability.unique()

In [18]:
df.Availability = df.Availability.str.replace('Space availability','Space available')

In [19]:
#df.Availability.unique()

<b>Remove N/A from Benefit Tier</b>

In [20]:
df = df[df['Benefit Tier'] != "N/A"]
df['Benefit Tier'] = [' '.join(x.split()) for x in df['Benefit Tier']]
df['Benefit Tier'] = df['Benefit Tier'].str.strip()
df['Benefit Tier'] = df['Benefit Tier'].str.upper()

In [21]:
df.Club = [' '.join(x.split()) for x in df.Club]
df.Club = df.Club.str.strip()
df.Club = df.Club.str.upper()

<b>Remove double spaces, and make all upper cases</b>

In [22]:
df.Community = [' '.join(x.split()) for x in df.Community]
df.Community = df.Community.str.strip()
df.Community = df.Community.str.upper()

In [23]:
df.Market = [' '.join(x.split()) for x in df.Market]
df.Market = df.Market.str.strip()
df.Market = df.Market.str.upper()

In [24]:
#df.Availability = df.Availability.str.replace('  ',' ')
df.Availability = df.Availability.str.strip()
df.Availability = df.Availability.str.upper()
#replacing new lines with single space
df.Availability = df.Availability.str.replace('\n',' ')
df.Availability = [' '.join(x.split()) for x in df.Availability]

In [25]:
df.Advance = [' '.join(x.split()) for x in df.Advance]
df.Advance = df.Advance.str.strip()
df.Advance = df.Advance.str.upper()
df.Advance = df.Advance.str.replace('\n',' ')

In [26]:
df['Golf Benefit'] = [' '.join(x.split()) for x in df['Golf Benefit']]
df['Golf Benefit'] = df['Golf Benefit'].str.strip()
df['Golf Benefit'] = df['Golf Benefit'].str.upper()
df['Golf Benefit'] = df['Golf Benefit'].str.replace('\n',' ')

In [27]:
df['Dining Benefit'] = [' '.join(x.split()) for x in df['Dining Benefit']]
df['Dining Benefit'] = df['Dining Benefit'].str.strip()
df['Dining Benefit'] = df['Dining Benefit'].str.upper()
df['Dining Benefit'] = df['Dining Benefit'].str.replace('\n',' ')

In [28]:
df['Dining Availability'] = [' '.join(x.split()) for x in df['Dining Availability']]
df['Dining Availability'] = df['Dining Availability'].str.strip()
df['Dining Availability'] = df['Dining Availability'].str.upper()
df['Dining Availability'] = df['Dining Availability'].str.replace('\n',' ')

<b> Remove empty communities</b>

In [29]:
df = df[df.Community != '']

<B>Fix NCS & NCS Custom</b><br>
Create a similar block for NCS Custom & rename existing 'NCS & NCS Custom' to NCS

In [30]:
df_ncs_common = df[df['Benefit Tier'] == 'NCS & NCS Custom'].copy()
df_ncs_common['Benefit Tier'] = 'NCS Custom'
df = df.replace({'Benefit Tier':{'NCS & NCS Custom':'NCS'}})
df = df.append(df_ncs_common)

<b>Fix two clubs in a single line</b>

In [31]:
double_club_names = list(df[df['Club'].str.contains('/')]['Club'].unique())

In [32]:
for double_club_name in double_club_names:
    print(double_club_name)
    club_names = double_club_name.split("/")
    for club_name in club_names:
        df_club_copy = df[df['Club'] == double_club_name].copy()
        df_club_copy['Club'] = club_name
        df = df.append(df_club_copy)
    df = df[~(df['Club'] == double_club_name)]

EAGLE WATCH/BENTWATER
BRAELINN GOLF CLUB/FLAT CREEK/PLANTERRA RIDGE GOLF CLUB/WHITEWATER CREEK COUNTRY CLUB
CANONGATE 1/WHITE OAK
CHAPEL HILLS/MIRROR LAKE
HAMILTON MILLS/BRASELTON
OLDE ATLANTA/WINDEMERE
RIVER FOREST/HEALY
WINDEMERE/OLDE ATLANTA
BENTWATER/EAGLE WATCH
MAG CREEK/SOUTH SHORE

<b>Fix ONE (All)</b><br>
DFW, ONE (All)<br>
Houston, ONE (All)

In [33]:
communities = df['Community'].dropna().unique()
for community in communities:
    benefit_tiers = list(df[df['Community']==community]['Benefit Tier'].dropna().unique())
    #print(benefit_tiers)
    for benefit_tier in benefit_tiers:
        if benefit_tier == "ONE (All)":
            print (community + ", " + benefit_tier)

<b>Fix DFW</b>

In [34]:
dfw_bt_to_fix = ['ONE Golf - Elite Club Member','ONE Golf - Premier Stonebridge Hills Member','ONE Golf - Premiere Club Member','ONE Non Golf','ONE Baylor - Dallas','ONE TX Tech - Dallas','ONE UT Club - Dallas','ONE UT Club  - Dallas','ONE Dual Club - Stonebridge Ranch','ONE Full Golf only - Prestonwood']
for bt in dfw_bt_to_fix:
    one_all_dfw = df[(df['Community'] == 'DFW') & (df['Benefit Tier'] == 'ONE (All)')].copy()
    one_all_dfw['Benefit Tier'] = bt
    df = df.append(one_all_dfw)
    
df = df[~((df['Community'] == 'DFW') & (df['Benefit Tier'] == 'ONE (All)'))]

<b>Fix Houston</b>

In [35]:
houston_bt_to_fix = ['ONE Golf','ONE Non Golf','ONE TX Tech - Houston','ONE Baylor - Houston','ONE UT CLUB - HOUSTON','Full ONE','Champions ONE','ONE UT Club  - Houston','ONE Golf - Woodlands Members','ONE Golf - Bay Oaks Golf Members','ONE Golf - Kingwood FULL Golf Masters Members']
for bt in houston_bt_to_fix:
    one_all_houston = df[(df['Community'] == 'Houston') & (df['Benefit Tier'] == 'ONE (All)')].copy()
    one_all_houston['Benefit Tier'] = bt
    df = df.append(one_all_houston)
    
df = df[~((df['Community'] == 'Houston') & (df['Benefit Tier'] == 'ONE (All)'))]

<b>Fix All Community Programming</b><br>
Detroit, 3, All Community Programming<br>
New York City, 2, All Community Programming<br>
Orange County, 5, All Community Programming<br>

In [36]:
communities = df['Community'].dropna().unique()
for community in communities:
    benefit_tiers = list(df[df['Community']==community]['Benefit Tier'].dropna().unique())
    if len(benefit_tiers) > 1:
        for benefit_tier in benefit_tiers:
            if benefit_tier == "All Community Programming":
                print (community + ", " + str(len(benefit_tiers)) + ", " + benefit_tier + "," + str(benefit_tiers))

<b>Fix Detroit<b>

In [37]:
detroit_bt_to_fix = ['ONE','Society']
for bt in detroit_bt_to_fix:
    all_community_detroit = df[(df['Community'] == 'Detroit') & (df['Benefit Tier'] == 'All Community Programming')].copy()
    all_community_detroit['Benefit Tier'] = bt
    df = df.append(all_community_detroit)
    
df = df[~((df['Community'] == 'Detroit') & (df['Benefit Tier'] == 'All Community Programming'))]

<b>Fix Orange County</b>

In [38]:
oc_bt_to_fix = ['ONE', 'Society (Center Club Only)', 'Society (Compass)','Society']
for bt in oc_bt_to_fix:
    all_community_oc = df[(df['Community'] == 'Orange County') & (df['Benefit Tier'] == 'All Community Programming')].copy()
    all_community_oc['Benefit Tier'] = bt
    df = df.append(all_community_oc)
    
df = df[~((df['Community'] == 'Orange County') & (df['Benefit Tier'] == 'All Community Programming'))]

<b> Convert "CFO UNLIMITED, AFTER 12 PM" to "CFO UNLIMITED" and add "AFTER 12 PM" to "Availability" column value</b>

In [39]:
df.loc[df['Golf Benefit'] == 'CFO UNLIMITED, AFTER 12 PM', 'Availability'] = df.loc[df['Golf Benefit'] == 'CFO UNLIMITED, AFTER 12 PM', 'Availability'] +' AFTER 12 PM'
df.loc[df['Golf Benefit'] == 'CFO UNLIMITED, AFTER 12 PM', 'Golf Benefit'] = 'CFO UNLIMITED'

<b>Convert "50% OFF CART FEE, AFTER 12 PM" to '50% CART FEE ONLY, UNLIMITED'  and add "AFTER 12 PM" to "Availability" column value</b>

In [40]:
df.loc[df['Golf Benefit'] == '50% OFF CART FEE, AFTER 12 PM', 'Availability'] = df.loc[df['Golf Benefit'] == '50% OFF CART FEE, AFTER 12 PM', 'Availability'] + ' AFTER 12 PM'
df.loc[df['Golf Benefit'] == '50% OFF CART FEE, AFTER 12 PM', 'Golf Benefit'] = '50% CART FEE ONLY, UNLIMITED'

<h4>Convert "CFO UNLIMITED" to "CFO - UNLIMITED" and "UNLIMITED CFO" to "CFO - UNLIMITED"</h4>

In [41]:
df.loc[df['Golf Benefit'] == 'CFO UNLIMITED', 'Golf Benefit'] = 'CFO - UNLIMITED'
df.loc[df['Golf Benefit'] == 'UNLIMITED CFO', 'Golf Benefit'] = 'CFO - UNLIMITED'

<h4>Convert 'DINING ACCESS' to 'PAY TO DINE'</h4>

In [42]:
df.loc[df['Dining Benefit'] == 'DINING ACCESS', 'Dining Benefit'] = 'PAY TO DINE'

In [43]:
len(df.index)

1932

In [44]:
df[df.duplicated(subset=None, keep='first')][['Community','Market','Club Type','Club','Benefit Tier','Golf Benefit','Availability','Advance','Dining Benefit','Dining Availability']]

,Community,Market,Club Type,Club,Benefit Tier,Golf Benefit,Availability,Advance,Dining Benefit,Dining Availability
22,ATLANTA,ATL,Golf - Private,WINDEMERE,ATL ASSOCIATE GOLF,"UNLIMITED ACCESS, PREFERRED RATES",SPACE AVAILABLE,7 DAY,PAY TO DINE,SPACE AVAILABLE
22,ATLANTA,ATL,Golf - Private,OLDE ATLANTA,ATL ASSOCIATE GOLF,"UNLIMITED ACCESS, PREFERRED RATES",SPACE AVAILABLE,7 DAY,PAY TO DINE,SPACE AVAILABLE

In [45]:
#df = df[['Community','Market','Club Type','Club','Benefit Tier','Golf Benefit','Availability','Advance','Dining Benefit','Dining Availability']]
df = df.drop_duplicates()
len(df.index)

1930

In [46]:
outputfilename = inputfilename + ' Preprocessed'

<h1>Replacing values with NA with N/A</h1>

In [47]:
df.loc[df['Golf Benefit'] == 'NA', 'Golf Benefit'] = 'N/A'
df.loc[df['Availability'] == 'NA', 'Availability'] = 'N/A'
df.loc[df['Advance'] == 'NA', 'Advance'] = 'N/A'
df.loc[df['Dining Benefit'] == 'NA', 'Dining Benefit'] = 'N/A'
df.loc[df['Dining Availability'] == 'NA', 'Dining Availability'] = 'N/A'

In [48]:
df.to_csv("output/" + outputfilename + ".csv", index=False)

<H1> Removing All the Golf Benefit to Club 'ATLANTA NATIONAL'</H1>

In [49]:
df.loc[((df['Community'] == 'ATLANTA') & (df['Club'] == 'ATLANTA NATIONAL')), 'Golf Benefit'] = 'NO ACCESS'

In [50]:
df.to_csv("output/" + outputfilename + "_removedGolfBenefitToClubAtlantaNatioanal.csv", index=False)